.first_section{
    margin: 7em 0 15em 0;
    position: relative;

    .typing_content{
        font-size: 4rem;
        position: relative;
        left: 27%;
    }
    .arrow{
        margin-top: 10rem;
    }
    .cir{  
        padding-top: 80px;
        position: relative;
        span{
            position: absolute;
            left: 50%;
            width: 24px;
            height: 24px;
            margin-left: -12px;
            border-left: 1px solid #000;
            border-bottom: 1px solid #000;
            -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
            -webkit-animation: sdb 2s infinite;
            animation: sdb 2s infinite;
            opacity: 1;
            box-sizing: border-box;


            position: absolute;
            top: 3em;
        }
        
        span:nth-of-type(1){
            top:48px;
            animation-delay: 0s;
        }
        span:nth-of-type(2) {
            top: 16px;
            animation-delay: .3s;
        }
        span:nth-of-type(3) {
            top: 32px;
            animation-delay: .15s;
        }
    
        @keyframes sdb {
        0% {
            opacity: 0;
            }
            50% {
            opacity: 1;
            }
            100% {
            opacity: 0;
            }
        }
    }
    
}

