*{box-sizing: border-box;}
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Noto+Sans+KR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Noto+Sans+KR:wght@100;400&display=swap');



.project{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 0;
  align-content: center;
  justify-content: center;
  align-items: center;
  
  .project-title{
      h2{
          margin-top: 4em;
          letter-spacing: 0.2em;
          background: linear-gradient(to top, #CBFF75 50%, transparent 50%);
          font-weight: bold;
          margin-bottom: 3em;
          display: inline-block;
          font-size: 3.5rem;
      }
  }
  .project_section{
    ::-webkit-scrollbar {
      display: none;
    }
    .popup{
        position: fixed;
        // left:50%; top: 0;
        // z-index: 1;
        // width:100%; height: 100%;
        // background-color: #fbffff;
        // border-radius: 1%;
        // overflow: scroll;
        left: 20%;
        top: 15%;
        width: 80%; 
        margin-left: -10%;
        height: 100%; 
        margin-top: -150px;
        z-index: 10;
        background-color: #fbffff;
        // overflow: scroll;
        overflow-x: auto;
        border-radius: 1%;
        

        .popup_inner button{
          border : none;
          width: 50px; height: 50px;
          cursor: pointer;
        }
        .popup_inner .close{
            color:#000; transform: translateX(1000px);
        }
    }
    .project_list{
      .project_ul{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        position: relative;
        align-content: center;
        justify-content: space-between;
        width: 1440px;
        .project_li{
          transition: all 0.6s ease;
          font-family: 'Raleway', Arial, sans-serif;
          color: #fff;
          position: relative;
          overflow: hidden;
          min-width: 700px;
          max-width: 700px;
          width: 100%;
          background: #000000;
          color: #ffffff;
          text-align: left;
          margin: 0;
          a{ position: absolute;
            bottom: 5%;
            left: 6%;
            font-family: 'proxima','NotoSansKR',sans-serif;
            font-size: 18px;
            font-weight: 600;
            text-transform: uppercase;
            color: #fff;
            z-index: 1;}
        .project_section_img{
          opacity: 0.8;
          width: 100%;
          vertical-align: top;
        
          transition: opacity 0.35s;
          width: 700px; height: 700px;
          margin: 0;
          
      }
      figcaption{
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
        .title_section{
          height: 50%;
          overflow: hidden;
          width: 100%;
          position: relative;
          .title1{ margin: 0;
            position: absolute;
            left: 0;
            padding: 0 30px;
            text-transform: uppercase;
            font-size: 1em;
            bottom: 0;
            font-weight: 500;}
          .title2{ margin: 0;
            position: absolute;
            left: 0;
            padding: 0 30px;
            text-transform: uppercase;
            font-size: 1em;
            bottom: 0;
            font-weight: 500;
            opacity: 0;
          }
        }
        .title_section2{
          position: relative;
          .title3{ margin: 0;
            position: absolute;
            left: 0;
            padding: 0 30px;
            text-transform: uppercase;
            font-weight: 900;
            top: 0;}
        }
      } 
    
    }
    .project_li:hover .project_section_img{
      opacity: 0.3;
      filter: grayscale(100%);
    }
    .project_li:hover .title_section .title1{
      transform: translateY(150%);
      opacity: 0;
      transition: all 1s ease;
    }
    .project_li:hover  .title_section .title2{
      opacity: 1;
      transition: all 1s ease;
    }
  }


}

  }

}

footer{
  margin-top: 300px;
  .contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
    h2{
      font-family: 'Noto Sans KR', sans-serif;
      background: linear-gradient(to top, #faf5ab 50%, transparent 50%);
      font-size: 3.5rem;
      letter-spacing: 0.2em;
      font-weight: bold;
    }
    .contact_line{
      cursor: pointer;
      p{
        font-size: 1.5em;
      }
      .highlight1{
        display: inline-block; 
        position: relative;
      }
      .highlight2{
        display: inline-block; 
        position: relative;
      }
      .highlight3{
        display: inline-block; 
        position: relative;
      }
      .highlight1:after{
        content:"";
        width: 0;
        height: 10px;
        display: inline-block;
        background: #92bee2;
        position: absolute;
        bottom:0;
        left:0;
        z-index:-1;
        transition: 0.7s all;
      }
      .highlight2:after{
        content:"";
        width: 0;
        height: 10px;
        display: inline-block;
        background: #aeadee;
        position: absolute;
        bottom:0;
        left:0;
        z-index:-1;
        transition: 0.7s all;
      }
      .highlight3:after{
        content:"";
        width: 0;
        height: 10px;
        display: inline-block;
        background: #e4b8de;
        position: absolute;
        bottom:0;
        left:0;
        z-index:-1;
        transition: 0.7s all;
      }
    }
    .p1:hover .highlight1:after{
      width: 100%;
    }
    .p2:hover .highlight2:after{
      width: 100%;
    }
    .p3:hover .highlight3:after{
      width: 100%;
    }
  }
}
